{
  "reads": [
  {
  "path":"[TUMOR-BAM-UNALIGNED]",
  "class":"File"
  },
  {"path":"[NORMAL-BAM-UNALIGNED]",
  "class":"File"
  }
  ],
  "output_dir": "datastore",
  "output_file_basename": "[DONOR]",
  "download_reference_files": "true",
  "reference_gz_amb": {
    "path": "http://s3.amazonaws.com/pan-cancer-data/pan-cancer-reference/genome.fa.gz.64.amb",
    "class": "File"
  },
  "reference_gz_sa": {
    "path": "http://s3.amazonaws.com/pan-cancer-data/pan-cancer-reference/genome.fa.gz.64.sa",
    "class": "File"
  },
  "reference_gz_pac": {
    "path": "http://s3.amazonaws.com/pan-cancer-data/pan-cancer-reference/genome.fa.gz.64.pac",
    "class": "File"
  },
  "reference_gz_ann": {
    "path": "http://s3.amazonaws.com/pan-cancer-data/pan-cancer-reference/genome.fa.gz.64.ann",
    "class": "File"
  },
  "reference_gz_bwt": {
    "path": "http://s3.amazonaws.com/pan-cancer-data/pan-cancer-reference/genome.fa.gz.64.bwt",
    "class": "File"
  },
  "reference_gz_fai": {
    "path": "http://s3.amazonaws.com/pan-cancer-data/pan-cancer-reference/genome.fa.gz.fai",
    "class": "File"
  },
  "reference_gz": {
    "path": "http://s3.amazonaws.com/pan-cancer-data/pan-cancer-reference/genome.fa.gz",
    "class": "File"
  },
  "merged_output_unmapped_bai": {
    "path": "[OUTPUT-DIR]/[DONOR].merged_output.unmapped.bam.bai",
    "class": "File"
  },
  "merged_output_bam": {
    "path": "[OUTPUT-DIR]/[DONOR].merged_output.bam",
    "class": "File"
  },
  "merged_output_unmapped_bam": {
    "path": "[OUTPUT-DIR]/[DONOR].merged_output.unmapped.bam",
    "class": "File"
  },
  "merged_output_bai": {
    "path": "[OUTPUT-DIR]/[DONOR].merged_output.bam.bai",
    "class": "File"
  }
}
