{
  "bbFrom": {
    "path": "https://dcc.icgc.org/api/v1/download?fn=/PCAWG/reference_data/pcawg-sanger/GRCh37d5_battenberg.tar.gz",
    "class": "File"
  },
  "refFrom": {
    "path": "https://dcc.icgc.org/api/v1/download?fn=/PCAWG/reference_data/pcawg-sanger/GRCh37d5_CGP_refBundle.tar.gz",
    "class": "File"
  },
  "tumor": {
    "path": "[TUMOR-BAM]",
    "class": "File"
  },
  "normal": {
    "path": "[NORMAL-BAM]",
    "class": "File"
  },
  "somatic_sv_tar_gz": {
    "path": "[OUTPUT-DIR]/[DONOR].somatic.sv.tar.gz",
    "class": "File"
  },
  "somatic_snv_mnv_tar_gz": {
    "path": "[OUTPUT-DIR]/[DONOR].somatic.snv.mnv.tar.gz",
    "class": "File"
  },
  "somatic_verifyBamId_tar_gz": {
    "path": "[OUTPUT-DIR]/[DONOR].somatic.verifyBamId.tar.gz",
    "class": "File"
  },
  "somatic_cnv_tar_gz": {
    "path": "[OUTPUT-DIR]/[DONOR].somatic.cnv.tar.gz",
    "class": "File"
  },
  "somatic_imputeCounts_tar_gz": {
    "path": "[OUTPUT-DIR]/[DONOR].somatic.imputeCounts.tar.gz",
    "class": "File"
  },
  "somatic_genotype_tar_gz": {
    "path": "[OUTPUT-DIR]/[DONOR].somatic.genotype.tar.gz",
    "class": "File"
  },
  "somatic_indel_tar_gz": {
    "path": "[OUTPUT-DIR]/[DONOR].somatic.indel.tar.gz",
    "class": "File"
  }
}
